.page-title {
    padding-top: 32px;
    padding-bottom: 32px;
}
.shop-nav-select {
    margin-bottom: 32px;
    margin-top: 0;
}
.menu {
    
}
.menu-item {
    list-style: none;
}
.sub-menu {
    padding-left: 16px;
}
// #menu-product-category-menu {
//     padding: 0;
// }
// #menu-product-category-menu li {
//     list-style: none;
// }
// .menu-item {
//     border-bottom: 1px gray solid;
// }
// .sub-menu {
//     margin-left: 16px;
//     padding-left: 0;
//     .menu-item {
//         border: none !important;
//     }
// }
