select,
option {
  font-size: 18px;
}

#_customize-input-gfbs_h1_font_family option:nth-of-type(1) {
  font-family: "Arimo";
}

#_customize-input-gfbs_h1_font_family option:nth-of-type(2) {
  font-family: "Grenze Gotisch";
}

#_customize-input-gfbs_h1_font_family option:nth-of-type(3) {
  font-family: "Oswald";
}

#_customize-input-gfbs_h1_font_family option:nth-of-type(4) {
  font-family: "Play";
}

#_customize-input-gfbs_h1_font_family option:nth-of-type(5) {
  font-family: "Righteous";
}

#_customize-input-gfbs_h1_font_family option:nth-of-type(6) {
  font-family: "Roboto";
}

#_customize-input-gfbs_h1_font_family option {
  font-weight: 700;
}

